<div class="options-container">
    <div class="options-box">
        <h1>Options</h1>
        <div class="options-list">
            <div class="option-item">
                <div class="option-title">Operator</div>
                <div class="option-values operators">
                    <div class="button-icon" id="add">+</div>
                    <div class="button-icon" id="subtract">-</div>
                    <div class="button-icon" id="multiply">&#215;</div>
                </div>
            </div>
            <div class="option-item">
                <div class="option-title">Enable timer?</div>
                <div class="option-values time">
                    <div class="button-icon" id="enable-timer">&#10003;</div>
                </div>
            </div>
            <div class="option-item">
                <div class="option-title">Time</div>
                <div class="option-values time">
                    <div class="button-icon">-</div>
                    <div class="countdown">60s</div>
                    <div class="button-icon">+</div>
                </div>
            </div>

            <div class="option-item">
                <div class="option-title">Enable lives?</div>
                <div class="option-values time">
                    <div class="button-icon" id="enable-lives">&#10003;</div>
                </div>
            </div>
            <div class="option-item">
                <div class="option-title">Lives</div>
                <div class="option-values lives">
                    <div class="button-icon">-</div>
                    <div class="liveCount">3</div>
                    <div class="button-icon">+</div>
                </div>
            </div>
            <div class="option-item">
                <div class="option-title">Digits range</div>
                <div class="option-values">
                    <select aria-label="smallestDigitSelect" class="select">
                        <option *ngFor="let digit of smallestDigitArray" [value]="digit">{{digit}}</option>
                    </select>
                    <div class="hyphen">-</div>
                    <select aria-label="largestDigitSelect" class="select">
                        <option *ngFor="let digit of largestDigitArray" [value]="digit">{{digit}}</option>
                    </select>
                </div>
            </div>
            <!-- <div class="option-item">
                <div class="option-title">Digits range</div>
                <div class="option-values">
                    <input class="input-text" type="number" [attr.value]="initialMinValue" [attr.min]="digitMinLength"
                        [attr.max]="digitMaxLength" />
                    <div class="hyphen">-</div>
                    <input class="input-text" type="number" [attr.value]="initialMaxValue" [attr.min]="digitMinLength"
                        [attr.max]="digitMaxLength" />
                </div>
            </div> -->
            <div class="option-item">
                <div class="option-title">Answer type</div>
                <div class="option-values set-vertical">
                    <div class="button-text">MCQ</div>
                    <div class="button-text">Text</div>
                    <div class="button-text">Both</div>
                </div>
            </div>
            <div class="option-item">
                <div class="option-title">Number of choices</div>
                <div class="option-values">
                    <select aria-label="largestDigitSelect" class="select">
                        <option *ngFor="let choices of numberOfChoicesArray" [value]="choices">{{choices}}</option>
                    </select>
                </div>
            </div>
            <!-- <div class="option-item">
                <div class="option-title">Number of choices</div>
                <div class="option-values">
                    <input class="input-text" type="number" [attr.value]="initialAnsChoices" [attr.min]="ansMinChoices"
                        [attr.max]="ansMaxChoices" />
                </div>
            </div> -->
        </div>
        <div class="button-section">
            <app-button [buttonTitle]="saveBtnTitle" [buttonStyleInner]="setSaveBtnBackground"
                [buttonStyle]="setBtnStyles">
            </app-button>
            <app-button [buttonTitle]="cancelBtnTitle" [buttonStyleInner]="setCancelBtnBackground"
                [buttonStyle]="setBtnStyles" (buttonClick)="cancel()">
            </app-button>
        </div>
    </div>
</div>