@import '../../styles.scss';

.checkbox-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    height: fit-content;
    width: fit-content;
    box-sizing: content-box;
    overflow: hidden;
    &>.checkbox-items {
        position: relative;
        text-align: center;
        vertical-align: middle;
        background-color: transparent;
        height: 1em;
        width: 1em;
        border: 1px solid black;
        border-collapse: separate;
        cursor: pointer;
        &>.checkbox-background{
            transform: scale(0.9);
            &>.checkbox-text {
                margin-block-start: 0em;
                margin-block-end: 0em;
                line-height: 1;
                align-self: center;
                justify-self: center;
                height: inherit;
                width: inherit;
                user-select: none;
                background-color: transparent;
            }
            &:hover>.checkbox-text {
                color: $primary;
            }
        }
        &:hover>.checkbox-background {
            background-color: black;
        }
    }
}